[Unit]
Description= plfluidic server
After=network.target

[Service]
User=root
ExecStart=/usr/bin/plfluidic.sh
Restart=always
StandardOutput=journal

[Install]
WantedBy=multi-user.target